# Environment variables
backend/.env

# Python virtual environment
backend/venv/
venv/

# Python cache
backend/__pycache__/
__pycache__/
*.pyc

# Database
*.db

# React
frontend/node_modules/
frontend/build/

# VS Code
.vscode/

# Git
frontend/.git/